# Find Restaurant Cuisines

**Purpose:** A simplified notebook to load the restaurant dataset and find the cuisines offered by a specific restaurant name.

In [1]:
import pandas as pd

In [2]:
# Load the dataset
df = pd.read_csv('Dataset .csv')

# Display the relevant columns for the first few rows
df[['Restaurant ID', 'Restaurant Name', 'Cuisines']].head(2)

   Restaurant ID     Restaurant Name                      Cuisines
0        6317637    Le Petit Souffle    French, Japanese, Desserts
1        6304287    Izakaya Kikufuji                      Japanese

## Get Cuisines for a Restaurant

In [3]:
def print_cuisines_for_restaurant(name, dataframe):
    """Finds and prints the cuisines for a given restaurant name."""
    # Filter the dataframe for the specified restaurant name
    restaurant = dataframe[dataframe['Restaurant Name'].str.lower() == name.lower()]
    
    if not restaurant.empty:
        # Get the cuisines from the first match
        cuisines = restaurant['Cuisines'].iloc[0]
        print(f"Cuisines for '{name}': {cuisines}")
    else:
        print(f"Restaurant '{name}' not found in the dataset.")

# Example: Find cuisines for the restaurant named 'Ooma'
print_cuisines_for_restaurant('Ooma', df)

Cuisines for 'Ooma': Japanese, Sushi